  
  <!-- 부트스트랩 CDN -->
  {{! <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> }}

  <!-- index.js 추가 -->
  <script src="/js/app/index.js"></script>
  </body>
</html>