  <div class="js-clock">
    <h4>00:00</h4>
  </div>
  
  <div class="floor-Common-Layout">

    <div class="floor-Layout-Member">
      <span>
        Director.by Choc
      </span>
    </div>

    <div class="floor-Layout-Member">
      <span>
        Design.by Javari
      </span>
    </div>

     <div class="floor-Layout-Member">
      <span>
        ㈜ThingChoc.Corp
      </span>
    </div>

    <div class="floor-Layout-Member">
      <span>
        All rights reserved.
      </span>
    </div>
  </div>

  <!-- jquery -->
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <!-- bootstrap -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!-- js -->
  <script src="/js/app/clock.js"></script>
  <script src="/js/app/index.js"></script>
  </body>
</html>