<div class="menuBar">
  <div class="menuBar-Btn">
    <div class="en-Center"><a href="#">Coffe</a></div>
  </div>
  <div class="menuBar-Btn">
    <div class="kr-Center"><a href="#">공지사항</a></div>
  </div>
  <div class="menuBar-Btn">
    <div class="kr-Center"><a href="#">카페투어</a></div>
  </div>
  <div class="menuBar-Btn">
    <div class="kr-Center"><a href="#">원두정보</a></div>
  </div>
  <div class="menuBar-Btn">
    <div class="en-Center"><a href="#">Q&A</a></div>
  </div>
</div>
