{{! 메뉴바 초기작업중. }}
<div class="menuBar">
  <div class="menuBar-btn">
    <a href="#">Coffe</a>
  </div>
  <div class="menuBar-btn">
    <a href="#">공지사항</a>
  </div>
  <div class="menuBar-btn">
    <a href="#">카페자랑</a>
  </div>
  <div class="menuBar-btn">
    <a href="#">원두</a>
  </div>
  <div class="menuBar-btn">
    <a href="#">Q&A</a>
  </div>
</div>
