<div class="menuBar">
  <div class="for-Border">
    <button type="button" class="menuName" onclick="location.href ='#'">
      Coffee
    </button>
  </div>

  <div class="for-Border">
    <button type="button" class="menuName" onclick="location.href ='#'">
      Notice
    </button>
  </div>

  <div class="for-Border">
    <button type="button" class="menuName" onclick="location.href ='#'">
      CafeTour
    </button>
  </div>

  <div class="for-Border">
    <button type="button" class="menuName" onclick="location.href ='#'">
      Coffe Variety
    </button>
  </div>

  <div class="for-Border">
    <button type="button" class="menuName" onclick="location.href ='#'">
      Q & A
    </button>
  </div>
</div>
