{{>layout/header}}
<h1>노티스!</h1>
<div class="col-md-12">
    <!-- 목록 출력 영역 -->
    <table id="table-border" class="table table-hover table-horizontal table-bordered">
        <thead class="thead-strong">
            <tr>
                <th id="board-Num">No.</th>
                <th id="board-Title">제목</th>
                <th id="board-Autor">작성자</th>
                <th id="board-Date">최종수정일</th>
            </tr>
        </thead>
        <tbody id="tbody">
        {{#posts}}
           <tr class="posting-Info">
                <td class="posting-Line" >{{ id }}</td>
                <td class="posting-Line" id="posting-Link-Decoration" >
                    <a href="/posts/update/{{ id }}">{{ title }}</a>
                </td>
                <td class="posting-Line" >{{ author }}</td>
                <td class="posting-Line">{{ modifiedDate }}</td>
            </tr>
        {{/posts}}
        </tbody>
    </table>
    <!-- 글등록 버튼 -->

    <div class="bottom-buttom">
        <div class="bottom-page-buttom">
            <div>
                <a href="#"><</a>
                {{#postsPage}}
                    <a href="/notice/{{.}}">{{.}}</a>
                {{/postsPage}}
                <a href="#">></a>
            </div>
        </div>
        <div>
            <a href="/posts/save" role="button" class="btn btn-primary">글 등록</a>
        </div>
    </div>

</div>

{{>layout/footer}}