.table {
  border: solid 1px white;
  margin: 100px auto 0px auto;
}

.board-Name {
  background-color: #ffbc02;
  color: black;
  font-size: 20px;
  font-weight: 700;
  width: 250px;
  height: 40px;
  border-left: solid 2px rgba(255, 255, 255, 0.8);
  border-right: solid 2px rgba(255, 255, 255, 0.8);
  border-bottom: solid 2px rgba(255, 255, 255, 0.8);
}

#board-First {
  border-left: none;
}

#board-Last {
  border-right: none;
}

.posting-Info {
  /*현재 색깔이 안나옴.*/
  border-top: solid 2px white;
}

.posting-Info-LineUp {
  display: flex;
  align-items: center;
  justify-content: center;
}

#posting-Date-LineUp {
  padding-left: 36px;
}

#posting-Link-Decoration a {
  text-decoration: none;
}

.posting-Color {
  background-color: thistle;
  color: black;
}
