#board-Num {
  width: 5%;
  text-align: center;
  color: white;
  border-left: none;
  border-right: none;
}

#board-Title {
  width: 70%;
  text-align: center;
  color: white;
  border-left: none;
  border-right: none;
}

#board-Autor {
  width: 10%;
  text-align: center;
  color: white;
  border-left: none;
  border-right: none;
}

#board-Date {
  width: 15%;
  text-align: center;
  color: white;
  border-left: none;
  border-right: none;
}

#table-border {
  border-left: none;
  border-right: none;
}

#posting-Link-Decoration {
  border: 0;
  outline: 0;
}

.posting-Line {
  border: none !important;
  height: 70px !important;
  text-align: center !important;
  vertical-align: middle !important;
  color: white !important;
}

.posting-Info {
  border-top: solid 1px gray !important;
  align-items: center !important;
}
