.floor-Common-Layout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99%;
  height: 25px;
}

.floor-Layout-Member {
  margin-right: 10px;
  color: white;
}

.js-clock {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 99%;
  height: 25px;
}
