.menuBar {
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.for-Border {
}

.menuName {
  margin-left: 8px;
  width: 180px;
  height: 60px;
  background-color: #303437;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  font-family: "BenchNine", Arial, sans-serif;
  font-size: 22px;
  position: relative;
  font-weight: 700;
  border: solid 2px black;
}

.menuName:hover {
  background-color: #c47135;
}
