.menuBar-Frame {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.menu-btns {
  display: flex;
  justify-content: start;
  align-items: center;
}

.menu-Btn-Frame {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 30px;
  font-weight: 700;
  margin-right: 25px;
}

.menu-Btn-Frame a {
  text-decoration: none;
  color: white;
  position: relative;
}

.menu-Btn-Frame a:before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  color: #ffbc02;
  width: 0%;
  overflow: hidden;
  white-space: nowrap;
  transition: 0.2s ease-in;
}

.menu-Btn-Frame a:hover:before {
  width: 100%;
}

.user-sessions {
  text-decoration: none;
  color: white;
  position: relative;
}
